html {
    box-sizing: border-box;
}

/* *,
*::after,
*::before{
    block-size: inherit;
} */
body {
    margin: 0;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 120px;

}

.header__top {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    display: inline-block;
    width: 51px;
    height: 36px;
    flex-shrink: 0;
    margin-right: 51px;
}

.logo img {
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu__list {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    gap: 30px;
    padding: 0;
}

.nav__menu-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 20px;
    padding: 0;
    white-space: nowrap;
}

.btn-search {
    display: inline-flex;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #E3F5F5;
    color: #03B2A5;
}

.header__line {
width: 100%;
    height: 1px;
    margin: 0 auto;
    flex-shrink: 0;
    opacity: 0.3;
    background: var(--text-grey, #9D9D9D);
}

.main__nav {
    position: relative;
    margin: 0;
    width: 100%;
    left: 6px;
}

.block1 {
    display: flex;
    position: relative;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    padding-top: 17px;

}

.main__nav-top {
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 8px;
    color: rgba(51, 51, 51, 0.70);
}

.main__nav-list_home,
.main__nav-list_blog {
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 20px;
    padding: 0;
    white-space: nowrap;
}


.content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.content ul {
    margin: 0;
    padding: 0;
}

.content li {
    display: block;
    position: relative;
    line-height: 24px;
    padding-left: 32px;
    text-decoration: underline;

}

.content__article-4 li {
    display: block;
    position: relative;
    line-height: 24px;
    padding-left: 32px;
    text-decoration: none;

}

.content li::before,
.content__article-4 li::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #03B2A5;
    border-radius: 50%;
    height: 8px;
    left: 8px;
    top: 8px;
    width: 8px;
}

.content p {
    margin: 0;
    gap: 4px;
}

.content__article {
    max-width: 690px;
}

.content__banner {
    max-width: 282px;
}

.content__article-h1 {
    
    margin-top: 54px;
}

.text_author {
    display: flex;
    margin-top: 16px;
    margin-bottom: 24px;
    gap: 8px;
    align-items: center;
}
.text_author > a,
.text_author p:nth-child(4){
    display: none;
}
.content__article-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 24px;
    max-width: 588px;
}

.content__list1 {
    display: flex;
    max-width: 588px;
    flex-direction: column;

    gap: 14px;
}

.content__list1-block1 {
    display: flex;
    flex-direction: column;
 
    gap: 8px;
}

.content__list1-block2 {
    display: flex;
    flex-direction: column;
    
    gap: 4px;
    align-self: stretch;
}
.content__list1-block2 a{
    text-decoration-line: underline;
}
.content__list-link11{
    padding-left: 55px;
}
.content__list-link12{
    padding-left: 71px;
}
.content__list-link13{
    padding-left: 85px;
}
/* .content__list-text{
    display: flex;
flex-direction: column;
align-items: flex-end;
gap: 4px;
align-self: stretch;
} */

.content__article-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    gap: 16px;
}

.content__article-2 p {
    color: var(--text-primary, #333);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.content__article-3 {
    position: relative;
    display: flex;
    margin-top: 40px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(--blue-b-80, #F3F7FE);
}
.content__article-3 img{
    position: absolute;
    top: 24px;
}

.content__article-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 24px;
}

.content__article-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    gap: 16px;
}

.content__article-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 24px;
    flex-shrink: 0;
}

.content__article-6_block-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    max-width: 485px;
}

.content__article-6_text {
    align-self: stretch;
    padding-top: 24px;
    padding-bottom: 48px;
    flex-shrink: 0;
}

.content__article-6_block-a img {
    position: absolute;
    z-index: -1;

}

.content__article-6_block-b {

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}


.content__article-6_block-c {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(--status-yellowe-white, #FEFAEC);
}

.content__article-6_block-d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.content__article-6_block-d li {
    text-decoration: none;
}

.content__article-6_block-e {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.content__article-6_block-f {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(--status-orange-white, #FFF3EB);
}

.content__article-6_block-g {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.content__article-line{
    margin-top: 24px;
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.3;
    background: var(--text-grey, #9D9D9D);
}
.footer {
    display: flex;
    flex-shrink: 0;
    background: #2963A3;
}

.content__article-6_block-g1,
.content__article-6_block-g2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.content__article-6_block-h {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: rgba(3, 178, 165, 0.10);
}

.content__article_nav-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;

}

.content__article_nav-list p {
    color: #494949;
}

.content__article_nav-list a {
    color: #2963A3;
}

.content__article-nav_block1,
.content__article-nav_block2 {
    display: flex;
    align-items: flex-start;
    gap: 8px;

}
.content__background1{
    position: absolute;
    right: 0;
    top: 45%;
}
.content__ftr {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.content__ftr_block {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    max-width: 348px;

}

.content__ftr_block1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.content__ftr_btn,
.content__reclama_btn {
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--button-1, #16C8BB);
    color: var(--text-white, #FFF);
    text-align: center;
}

.content__ftr_img {
    display: block;
    position: relative;
    width: 520px;
    height: 330px;
    flex-shrink: 0;

}


.content__ftr_background1 {
    position: absolute;
    right: 0;
}

.content__reclama {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    max-height: 1683px;
}

.content__reclama_block1 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 24px;
    gap: 24px;
    max-width: 234px;

    flex-shrink: 0;
    border-radius: 16px;
    background: var(--blue-b-95, #E6F0FD);
    z-index: 1;
}

.content__block1-image {
    display: flex;
    margin-top: 24px;
 }

.content__reclama_img11 {
    position: relative;
    z-index: 2;
    width: 100%;
}



.content__block1-text {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 8px;
}

.content__reclama_block4 > button{
    max-width: 108px;
    padding: 12px 16px;
}
.content__reclama_btn{
    width: 100%;
}
.content__reclama_block2 {
    display: flex;
    max-width: 234px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 16px;
border: 1px solid #DEDEDE;
background: #FFF;
}
.content__block2-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    max-width: 250px;
}
.content__block2-image{
    position: relative;
display: flex;
justify-content: center;
width: 100%;

}
.content__block2-image img{
    border-radius: 50%;
    
}
.content__block2-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    left: -4px;
    top: -4px;

}
.content__block2-list1{
    display: flex;
   
    padding: 0px 6px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
background: rgba(243, 244, 248, 0.70);
}
.content__block2-exp{
    display: flex;
    gap: 8px;
}
.content__block2-exp1{
    display: flex;
    align-items: center;
}
.content__block2-line{
    display: flex;
height: 1px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
background: #FFF;
box-shadow: 0px 1px 0px 0px #DEDEDE;
}
.content__block2-text2{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}
.content__block2-list2 li{
    text-decoration: none;
}
.content__reclama_block3{
    display: flex;
    position: relative;
        min-height: 292px;
    margin-top: 4px;
}
.content__block3-img1{
    position: absolute;
    z-index: -1;
    width: 100%;
}
.content__block3-img2{
    position: absolute;
    top: 13px;
    width: 100%;
}
.content__reclama_block4{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 218px;
    padding: 32px;
    margin-top: 18px;
    border-radius: 24px;
    gap: 16px;
background: #FFF;
border: 1px solid #DEDEDE;
}

.content__block4-img1,
.content__block4-img2{
position: absolute;
right: 0;
bottom: 0;
border-radius: 0 0 24px;
}
.content__block4-text{
    display: flex;
    gap: 4px;
    align-items: flex-end;
}
.content__block4-text3{
    max-width:194px ;
}
.footer_content {
    width: 100%;
    padding: 40px 120px 17px;
}

.footer__block1 {
    position: relative;
    display: flex;
        justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__list {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 93px;
}

.footer__list-colum1,
.footer__list-colum2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer__search {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.block__search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 384px;
    gap: 8px;
}

.search {
    display: flex;
}

form {
    position: relative;
    width: 384px;
    margin: 0 auto;
}

.search input,
.search button {
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
}

.search input {
    width: 100%;
    height: 48px;
    background: #ffffff;
    padding-left: 16px;
}


.search button {
    display: flex;
    top: 0;
    right: -20px;
    height: 52px;
    padding: 14px 20px;

    position: absolute;
    border-radius: 4px;
    background: #16C8BB;
}

.search button:before {
    content: url(/svg/play-search.svg);
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}

.footer__icon {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logo-footer {
    display: flex;
    flex-wrap: wrap;
    width: 221px;
    height: 50px;
    flex-shrink: 0;
}

.logo-icon {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #EFF5FB;
}

.footer__line {
    margin-top: 24px;
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.3;
    background: var(--text-grey, #9D9D9D);
}

.footer__p {
    display: flex;
    margin-top: 16px;
    gap: 18px;
}